* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
	background: #2d2233;
	display: inline-block;
	letter-spacing: 1px;
	z-index: 200;
}

header h1 {
	display: inline-block;
	margin-left: 2%;
}

.logo {
	color: white;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	font-size: 23px;
}

.logo:before {
	content: url(../img/gaivota.png);
	margin: 5px -6px 0px 0;
	display: inline-block;
}

.menu {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 2%;
}

.menu li {
	display: inline-block;
	line-height: 60px;
}

.menu a {
	color: white;
	margin-left: 35px;
	text-decoration: none;
	font-size: 17px;
}

.menu li:last-child a {
	background: #8dc349;
	padding: 6px 15px;
	border-radius: 4px;
	box-shadow: 0 3px 0 0 #6b8c35;
	border: 0;
}

.menu a:hover {
	border-bottom: 1px solid #fff;
}

main {
	height: 100%;
	padding-top: 60px;
	position: relative;
}

.loading {
	position: relative;
	top: 65%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	font-size: 25px;
}

#map_canvas {
	width:100%;
	height:100%;
	background: white;
	text-align: center;
}

/* spinner */
.loading:after {
	content: '';
	display: inline-block;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 0 0 0 -0.5em;
	position: absolute;
	top: -1.9em;
	left: 50%;
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	5%, 95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.51em -0.66em 0 -0.42em #2d2233, -0.75em -0.36em 0 -0.44em #2d2233, -0.83em -0.03em 0 -0.46em #2d2233, -0.81em 0.21em 0 -0.477em #2d2233;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.29em -0.78em 0 -0.42em #2d2233, -0.43em -0.72em 0 -0.44em #2d2233, -0.52em -0.65em 0 -0.46em #2d2233, -0.57em -0.61em 0 -0.477em #2d2233;
	}
	100% {
		-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
		}
	}
	@keyframes load6 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	5%,	95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.51em -0.66em 0 -0.42em #2d2233, -0.75em -0.36em 0 -0.44em #2d2233, -0.83em -0.03em 0 -0.46em #2d2233, -0.81em 0.21em 0 -0.477em #2d2233;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.29em -0.78em 0 -0.42em #2d2233, -0.43em -0.72em 0 -0.44em #2d2233, -0.52em -0.65em 0 -0.46em #2d2233, -0.57em -0.61em 0 -0.477em #2d2233;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
}



/* static page content */
.banner {
	padding: 6em 0;
	color: #fff;
	text-align: center;
}

.banner h2 {
	font-size: 3.5em;
}

.banner p {
	max-width: 70%;
	margin: 3em 15% 0;
	line-height: 1.5;
}

/* aplication page */
.application {
	background: #1e122a;
}

.application-content {
	max-width: 60%;
	margin: 4em 20% 0;
}

.application-content li {
	display: inline-block;
	border: 1px solid #1e122a;
	margin-bottom: 4em;
	border-radius: 5px;
	padding: 1.5em 2em;
}

.application-content h3 {
	font-size: 2.5em;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.application-content p {
	line-height: 1.4;
}

.application-content img {
	float: left;
	margin-right: 1.5em;
}

.application-content li:nth-child(2n) img {
	float: right;
	margin-right: 0;
	margin-left: 1.5em;
}
