* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
	background: #2d2233;
	display: inline-block;
	letter-spacing: 1px;
	z-index: 200;
}

header h1 {
	display: inline-block;
	margin-left: 2%;
}

.logo {
	color: white;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	font-size: 23px;
}

.logo:before {
	content: url(../img/gaivota.png);
	margin: 5px -6px 0px 0;
	display: inline-block;
}

.menu {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 2%;
}

.menu li {
	display: inline-block;
	line-height: 60px;
}

.menu a {
	color: white;
	margin-left: 35px;
	text-decoration: none;
	font-size: 17px;
}

.menu li:last-child a {
	background: #8dc349;
	padding: 6px 15px;
	border-radius: 4px;
	box-shadow: 0 3px 0 0 #6b8c35;
	border: 0;
}

.menu a:hover {
	border-bottom: 1px solid #fff;
}

.main-content {
	height: 100%;
	padding-top: 60px;
	position: relative;
}

.loading {
	position: relative;
	top: 65%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	font-size: 25px;
}

#map_canvas {
	width:100%;
	height:100%;
	background: white;
	text-align: center;
}

.helper {
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 2%;
	color: #fff;
}

.helper-title {
	background: #2d2233;
	padding: 0.5em 0.8em;
	cursor: pointer;
	border-radius: 5px;
}

.helper-content {
	display: none;
	position: absolute;
	top: -170px;
	right: 2%;
	background: #2d2233;
	border-radius: 5px;
}

.helper-title:hover + .helper-content {
	display: block;
}

.helper-content li {
	padding: 0.5em 0.6em 0;
	font-size: 1.4em;
	display: inline-block;
	width: 190px;
}

.helper-content li:last-child {
	padding-bottom: 0.5em;
}

.helper-content:after {
	content: '';
	border-top: 20px solid #2d2233;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -17px;
	right: 16px;
}

.helper-content p {
	display: inline-block;
}

.helper-content img {
	vertical-align: middle;
	margin-right: 10px
}

/**************************************** spinner ****************************************/
.station-toggle {
	width: 290px;
	text-align: left;
}

.station-toggle p {
	display: inline-block;
	font-size: 1.8em;
	font-weight: bold;
}

.station-toggle img {
	vertical-align: middle;
	margin-right: 15px;
}

.station-toggle dl {
	margin: 1em;
}

.station-toggle dt {
	float: left;
	font-weight: bold;
	margin: 0 6px 10px 0;
}

.station-toggle dd {
	margin-bottom: 10px;
}


/**************************************** spinner ****************************************/
.loading:after {
	content: '';
	display: inline-block;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 0 0 0 -0.5em;
	position: absolute;
	top: -1.9em;
	left: 50%;
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	5%, 95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.51em -0.66em 0 -0.42em #2d2233, -0.75em -0.36em 0 -0.44em #2d2233, -0.83em -0.03em 0 -0.46em #2d2233, -0.81em 0.21em 0 -0.477em #2d2233;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.29em -0.78em 0 -0.42em #2d2233, -0.43em -0.72em 0 -0.44em #2d2233, -0.52em -0.65em 0 -0.46em #2d2233, -0.57em -0.61em 0 -0.477em #2d2233;
	}
	100% {
		-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
		}
	}
	@keyframes load6 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	5%,	95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.51em -0.66em 0 -0.42em #2d2233, -0.75em -0.36em 0 -0.44em #2d2233, -0.83em -0.03em 0 -0.46em #2d2233, -0.81em 0.21em 0 -0.477em #2d2233;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.29em -0.78em 0 -0.42em #2d2233, -0.43em -0.72em 0 -0.44em #2d2233, -0.52em -0.65em 0 -0.46em #2d2233, -0.57em -0.61em 0 -0.477em #2d2233;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #2d2233, -0.11em -0.83em 0 -0.42em #2d2233, -0.11em -0.83em 0 -0.44em #2d2233, -0.11em -0.83em 0 -0.46em #2d2233, -0.11em -0.83em 0 -0.477em #2d2233;
	}
}



/**************************************** static pages ****************************************/
.banner {
	padding: 6em 0;
	color: #fff;
	text-align: center;
}

.banner h2 {
	font-size: 4.5em;
}

.banner p {
	max-width: 70%;
	margin: 2em 15% 0;
	line-height: 1.5;
	font-size: 1.5em;
}

.content {
	padding-top: 3em;
}

.content-block {
	background: #206769;
	text-align: center;
	padding: 4em 0;
}

/**************************************** about page ****************************************/
.about {
	background: #8dc349;
}

.content-about {
	max-width: 70%;
	margin: 4em 15% 10em;
}

.content-about p {
	line-height: 1.4;
	margin-bottom: 2em;
	font-size: 1.4em;
}

.station-type {
	margin: 1em;
}

.station-type li {
	display: inline-block;
	text-align: center;
	box-shadow: 0 0 3px 1px #736771;
	width:30%;
	margin: 0 1%;
	padding: 1em;
	border-radius: 4px;
}

.station-type img {
	max-width: 100%;
}

.station-type h4 {
	margin: 1em 0 0;
	font-size: 1.5em;
}

/**************************************** api page ****************************************/
.api {
	background: #206769;
}

.api-content {
	background: #2d2233;
	color: #fff;
	font-size: 1.3em;
	text-align: left;
}

.api-content .content-title {
	text-align: center;
	margin: 1em 0;
}

.api-text {
	width: 60%;
	margin: 1em 20% 0;
}

.api-code {
	margin: 1.1em 0 0.6em 21%;
	display: inline-block;
	padding: 0.3em 0.8em;
	background: #bfbfc1;
	box-shadow: 0 3px 0 0 #1e122a;
	text-align: left;
	font-size: 1.2em;
	color: #2d2233;
	border-radius: 5px;
}

.api-query li {
	width: 60%;
	margin: 2em 20% 0;
}

.api-query div {
	background: #bfbfc1;
	color: #2d2233;
	border-radius: 5px;
}

.query-description {
	padding: 1em;
	border-bottom: 1px solid #2d2233;
}

.query-param {
	display: inline-block;
	width: 50%;
	padding: 1em;
	vertical-align: top;
}

.query-volume {
	display: inline-block;
	width: 49%;
	padding: 1em;
	border-left: 1px solid #2d2233;
}

.query-url {
	margin: 0.5em 0 1.5em;
}

.query-url a {
	color: #bfbfc1;
}



/**************************************** application page ****************************************/
.application {
	background: #8dc349;
}

.application-content {
	max-width: 60%;
	margin: 0 20% 0;
}

.application-content li {
	display: inline-block;
	margin-bottom: 4em;
	border-radius: 5px;
	padding: 1.5em 2em;
	box-shadow: 0 0 2px 1px #736771;
}

.application-content h3 {
	font-size: 2.5em;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.application-content p {
	line-height: 1.4;
}

.application-content img {
	float: left;
	margin-right: 1.5em;
}

.application-content li:nth-child(2n) img {
	float: right;
	margin-right: 0;
	margin-left: 1.5em;
}

/**************************************** share page ****************************************/
.share {
	background: #206769;
}

.buy-list {
	background: #2d2233;
	color: #fff;
	text-align: center;
	padding: 4em;
}

.content-title {
	color: #7ace44;
	text-transform: uppercase;
	font-size: 1.6em;
}

.content-text {
	font-size: 2.5em;
	margin: 0.3em 0 1.5em;
	color: #fff;
}

.buy-itens {
	width: 100%;
}

.buy-item {
	width: 32%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

.buy-item-title {
	color: #736771;
	font-size: 2em;
	margin: 0 0 0.5em;
}

.buy-item img {
	margin: 0 15px -3px 0;
}

.buy-item li p {
	color: #bfbfbf;
	display: inline-block;
	margin: 10px 0 0;
	font-size: 1.4em;
}

.buy-item li:before {
	content: '';
	display: inline-block;
	background: #bfbfbf;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	margin: 0 3px 2px 0;
}

.your-own {
	background: #206769;
}

.download {
	background: #1e5c5b;
	display: inline-block;
	width: 50%;
	max-width: 500px;
	padding: 1em 0 1em 2em;
	text-align: left;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0px 6px 0px 0px #184c48;
	position: relative;
}

.download span:before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 40px;
	background: #184c48;
	position: absolute;
	right: 50px;
	top: 15px;
}

.download span:after {
	content: '';
	display: inline-block;
	border-top: 36px solid #184c48;
	border-right: 36px solid transparent;
	border-left: 36px solid transparent;
	position: absolute;
	right: 29px;
	bottom: 15px;
}

.send-data {
	background: #2d2233;
}

.register {
	background: #8dc349;
	display: inline-block;
	padding: 0.5em 1em 0.5em 1em;
	text-align: center;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0px 6px 0px 0px #1e122a;
}

/**************************************** create station ****************************************/
.new-station {
	background: #2d2233;
}

.new-station form {
	width: 40%;
	max-width: 450px;
	margin: 0 auto 6em;
	text-align: left;
}

.new-station label {
	color: #fff;
	text-align: left;
	margin: 0 0 0.7em;
	font-size: 1.5em;
	display: inline-block;
}

.new-station input, select {
	width: 100%;
	margin: 0 0 1.3em;
	padding: 0.6em 0.5em;
	border-radius: 4px;
	box-shadow: 0 0 3px 3px #ccc inset;
	outline: none;
	font-size: 1.2em;
}

.new-station input[type=submit] {
	float: right;
	width: auto;
	background: #8dc349;
	display: inline-block;
	padding: 0.5em 1em 0.5em 1em;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	box-shadow: 0px 6px 0px 0px #1e122a;
	cursor: pointer;
	border: none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}



/**************************************** break points ****************************************/
@media (max-width: 1000px) {
	.menu a {
		margin-left: 20px;
	}
	.buy-itens {
		font-size: 0.8em;
	}
	.download {
		width: 50%;
		padding-left: 0.5em;
		text-align: center;
	}
	.download span:before, .download span:after {
		display: none
	}
	.content-about {
		max-width: 90%;
		margin: 2em 5% 6em;
	}
}

@media (max-width: 800px) {
	.menu a {
		margin-left: 8px;
	}
	.buy-item {
		width: 90%;
		margin: 0 5% 4em;
	}
	.download {
		width: 80%;
		text-align: center;
		padding-left: 0;
	}
	.register {
		font-size: 2.5em;
	}
}

@media (max-width: 650px) {
	.station-type li {
		width: 60%;
		margin: 0 20% 2em;
	}
}

@media (max-width: 500px) {
	.menu a {
		margin-left: 8px;
	}
	.station-type li {
		width: 80%;
		margin: 0 10% 2em;
	}
}